.App {
  font-size: calc(20px);
}

.wrapper {
  min-height: calc(100vh + 20px);
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

@media screen and (max-width: 410px) {
  .footerText {
    font-size: 16px;
  }
}